# Stable symlink for PLUM ecoLINK3 USB-RS485 adapter.
# Creates /dev/econet -> /dev/ttyUSBx
#
# Matches any PLUM ecoLINK3 adapter regardless of serial number.
#
# Install:
#   sudo cp 99-econet.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{manufacturer}=="PLUM sp. z o.o", ATTRS{product}=="ecoLINK3", SYMLINK+="econet", MODE="0666"
